@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.srv {
    min-height: 180vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 200px;

    /* background-color: antiquewhite; */

}

.tit {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #5C8692;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 1px;
    /* background-color: #5C8692; */
}

.srv h1 {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding: 0 260px;
    padding-bottom: 0;
}

.card1 {

    width: 1000px;
    margin: 30px 40px 0px 40px;
    /* background-color: rgb(101, 65, 19); */
    display: flex;
}

.card2 {

    width: 1000px;
    margin: 0px 40px 0px 40px;
    display: flex;
}

.card1 ul {
    margin-left: 80px;
    padding-right: 0;
    padding-top: 20px;

}

.card1 ul button {
    margin: 15px 20px;
    border: 2px solid #5C8692;
    background-color: #FFFFFF;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 600;
    transition: 1000ms ease;
    cursor: pointer;
    color: black;

}

.card1 ul button:hover {
    opacity: 60%;
    background-color: #5C8692;
}

.card1 ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 15px;
    list-style: none;
    transition: 1000ms;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #5C8692;
}

.card1 ul li h3 {
    font-size: 17px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.card1 ul li p {
    margin-top: 5px;
    font-size: 11.5px;

}

.card1 img {
    width: 490px;
    height: fit-content;
}


.card2 ul {
    padding-top: 20px;
    margin-left: 10px;
}

.card2 ul button {
    margin: 15px 20px;
    border: 2px solid #5C8692;
    background-color: #FFFFFF;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 600;
    transition: 1000ms ease;
    cursor: pointer;
    color: black;
}

.card2 ul button:hover {
    opacity: 60%;
    background-color: #5C8692;
}

.card2 ul li {
    display: inline-block;
    margin: 5px 20px;
    font-size: 15px;
    list-style: none;
    transition: 1000ms;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid #5C8692;
}

.card2 ul li h3 {
    font-size: 17px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.card2 ul li p {
    margin-top: 5px;
    font-size: 11.5px;

}

.card2 img {
    margin: 0;
    width: 490px;
    height: fit-content;
}

@media (max-width:1300px) {
    .srv {
        min-height: 90vh;
        padding: 60px 20px;
        margin-top: 0;
    }

    .srv h1 {
        padding: 0 200px;
    }

    .card1 {

        width: 750px;
        margin: 40px 20px 0px 20px;

    }

    .card1 img {
        width: 350px;
    }

    .card1 ul {
        width: 400px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;

    }

    .card1 ul li h3,
    .card2 ul li h3 {
        font-size: 14px;
    }

    .card1 ul li p,
    .card2 ul li p {
        font-size: 10px;
    }

    .card2 img {
        width: 350px;
    }

    .card2 ul {
        width: 400px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .card2 {

        width: 750px;
        margin: 0px 20px 0px 20px;

    }
}

@media (max-width:900px) {
    .srv {
        min-height: 90vh;
        padding: 60px 20px;
        margin-top: 0;
    }


    .card1 {
        flex-direction: column;
        align-items: center;
        width: 750px;
        margin: 40px 20px 0px 20px;

    }

    .card2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .card1 ul,
    .card2 ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}

@media (max-width:400px) {
    .srv h1 {
        font-size: 18px;
        padding: 0 20px;
    }

    .card1 {

        width: 450px;
        margin: 40px 20px 0px 20px;

    }

    .card1 img {
        width: 250px;
    }

    .card1 ul {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;

    }

    .card1 ul li h3,
    .card2 ul li h3 {
        font-size: 10px;
    }

    .card1 ul li p,
    .card2 ul li p {
        font-size: 8px;
    }

    .card2 img {
        width: 250px;
    }

    .card2 ul {
        width: 300px;
        margin-left: 0;
        margin-right: 0;
        padding-right: 0;
    }

    .card2 {

        width: 450px;
        margin: 0px 20px 0px 20px;

    }


    .card2 ul button,
    .card1 ul button {


        padding: 5px 15px;
        font-size: 10px;
        font-weight: 600;
        transition: 1000ms ease;
        cursor: pointer;
    }


}